**/gen/
**/edmx/
*.db
*.sqlite
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
/mta-op-087d42cf-517e-11ee-9e4d-eeee0a989b10/
/db/src/
/db/package.json
/db/undeploy.json
/mta_archives/
/app/package-lock.json
